.Button .form-group .city,
.current .submitButton {
  font-family: "Playfair Display", serif;
}

.Button .city {
  border: none;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.Button .current,
.submitButton {
  background: #318fb5;
  padding: 35px, 40px;
  transition: all 200ms ease-in-out;
  color: #f4f4f4;
  border: none;
  margin-bottom: 7px;
  font-size: 20px;
}

.Button .current {
  background: #eea2a2;
}

.Button .current:hover {
  background: #318fb5;
}
