.Degree .temp {
  font-size: 45px;
  opacity: 0.8;
  margin-left: -10px;
}
.Degree .degree .iconImg,
.iconImages {
  max-width: 80px;
  margin: 0px;
  margin-top: -20px;
  padding: 0%;
}
.Degree .iconImages {
  margin-left: -20px;
  margin-bottom: -15px;
}

.Degree .unit {
  position: relative;
  top: -20px;
}

.Degree .active {
  color: rgba(0, 0, 0, 0.8);
  cursor: default;
}

.Degree .active:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
