.Header h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  opacity: 0.8;
  font-size: 20px;
}

.Header h1 {
  font-size: 30px;
}
.Header h2 {
  font-size: 20px;
}
.Header h3:first-letter {
  text-transform: capitalize;
}
